.bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(5, 1, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.icon {
  width: 32px;
  height: 32px;
}

.bg1 {
  background-image: url('/images/calendar2.jpg');
}

.bg2 {
  background-image: url('/images/flower1.jpg');
}

.bg3 {
  background-image: url('/images/black3.jpg');
}



.bg * {
  margin: 0 0 10px;
}


nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-shadow: 0 5px 11px rgb(0, 0, 0);
  color: rgb(3, 3, 3);
  text-decoration: none;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.map-link {
  display: inline-block;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

.bg1 {
  justify-content: flex-start;
  align-items: center;
}

.bg1 h1 {
  text-shadow: 0 7px 20px rgb(236, 136, 136);
  font-family: 'Dancing Script';
  font-size: 45px;
  margin-top: 80px;
}

.bg1 nav {
  font-family: 'Marck Script', cursive;
  margin-top: 40px;
}

.text-box {
  margin-top: 50px;
  background: rgba(146, 135, 135, 0.6);
  padding: 50px 0px;
  border-radius: 60px;
  max-width: 80%;

  align-self: center;
}

.text-box p {
  margin: 20px;
  text-shadow: 0 15px 11px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  line-height: 1.3;
  text-align: center;
  font-size: 20px;
}

.bg2 {
  justify-content: center;
  align-items: center;
}

#date {
  text-align: center;
  padding: 0px 0px;
}

#date h2 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 50px;
  margin-top: 200px;
  text-shadow: 0 15px 11px rgb(0, 0, 0); 
}

/* сам полупрозрачный бокс */
.date-box {
  display: inline-block;
  background: rgba(0, 0, 0, 0.49);
  padding: 80px 10px;
  border-radius: 15px;
  max-width: 400px;
  width: 80%;
  box-sizing: border-box;
}

.date-box p{
  color: #ffffff;
}

/* стили для input */
.date-box input[type="date"],
.date-box input[type="time"] {
  background: transparent;
  /* прозрачный фон внутри бокса */
  border: none;
  /* убираем рамку */
  border-bottom: 2px solid #fff;
  /* только линия снизу */
  color: #fff;
  /* текст и эмблемы */
  font-size: 25px;
  padding: 5px 0;
  margin: 0px 0px;
  outline: none;
  text-align: center;
}

/* подсветка линии при фокусе */
.date-box input[type="date"]:focus,
.date-box input[type="time"]:focus {
  border-bottom: 2px solid #FFD700;
  /* золотая линия при фокусе */
}

.gis-icon {
  display: block;
  margin-top: 63px;
  width: 70px;
  opacity: 50;
}

.bg3 {
  padding: 0;
  /* убираем внутренние отступы */
  margin: 0;
  /* убираем внешние отступы */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bg3,
.bg3 * {
  box-sizing: border-box;
  /* корректно учитываем размеры */
  line-height: 1;
  /* минимизируем вертикальные зазоры */
}

.map-card {
  position: relative;
  display: inline-block;
  max-width: 500px;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.map-card img {
  margin-top: 0;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

/* кнопка поверх карты */
.map-overlay {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
}

.map-card:hover .map-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.bg3 p {
  color: white;
  font-size: 15px;
  padding-top: 80px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.social-links {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-links a {
  font-size: 28px;
  color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.social-img img {
  width: 30px;
  /* размер иконки */
  height: 30px;
  transition: 0.5s;
}

.social-img:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

footer {
  text-align: center;
  /* по центру */
  padding: 70px 20px;
  /* отступы сверху/снизу */
  color: #fff;
  /* цвет текста */
  font-size: 16px;
  margin-top: 100px;
  /* отступ от контента */
}