.bg {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(5, 1, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.icon {
  width: 32px;
  height: 32px;
}

.bg1 {
  background-image: url('../images/calendar2.jpg');
}

.bg2 {
  background-image: url('../images/flower1.jpg');
}

.bg3 {
  background-image: url('../images/black3.jpg');
}



.bg * {
  margin: 0 0 10px;
}


nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-shadow: 0 5px 11px rgb(0, 0, 0);
  color: rgb(3, 3, 3);
  text-decoration: none;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.map-link {
  display: inline-block;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.bg1 {
  justify-content: flex-start;
  align-items: center;
}

.bg1 h1 {
  text-shadow: 0 7px 20px rgb(142, 114, 114);
  font-family: 'Dancing Script';
  font-size: 45px;
  margin-top: 80px;
}

.bg1 nav {
  font-family: 'Marck Script', cursive;
  margin-top: 40px;
  font-size: 20px;
}

.text-box {
  margin-top: 50px;
  background: rgba(155, 150, 150, 0.6);
  padding: 50px 0px;
  border-radius: 60px;
  max-width: 80%;
  align-self: center;
}

.text-box p {
  margin: 20px;
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  line-height: 1.3;
  text-align: center;
  font-size: 22px;
  font-family: 'Marck Script', cursive;
}

.bg2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  margin-top: 150px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 36px;
  text-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
  font-family: 'Marck Script', cursive;
}

/* мутный бокс */
.date-box {
  background: rgba(139, 108, 108, 0.547);
  padding: 20px 40px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Marck Script', cursive;
}

/* поля */
.field {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Marck Script', cursive;
}

/* input */
.field input {
  width: 100%;
  margin-top: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  outline: none;
  font-family: 'Marck Script', cursive;
}

/* фокус */
.field input:focus {
  border-bottom-color: #9b445b;
}

.btn {
  font-size: 19px;
  background-color: #d49393;
  color: #000;
  font-family: 'Marck Script', cursive;
}

.gis-icon {
  display: block;
  margin-top: 150px;
  width: 70px;
  opacity: 50px;
}

.bg3 {
  padding: 0;
  /* убираем внутренние отступы */
  margin: 0;
  /* убираем внешние отступы */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.bg3,
.bg3 * {
  box-sizing: border-box;
  /* корректно учитываем размеры */
  line-height: 1;
  /* минимизируем вертикальные зазоры */
}

.map-card {
  position: relative;
  display: inline-block;
  max-width: 500px;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.map-card img {
  margin-top: 0;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

/* кнопка поверх карты */
.map-overlay {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
}

.map-card:hover .map-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.bg3 p {
  color: white;
  font-size: 18px;
  padding-top: 80px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Marck Script', cursive;
}

.social-links {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-links a {
  font-size: 28px;
  color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.social-img img {
  width: 30px;
  /* размер иконки */
  height: 30px;
  transition: 0.5s;
}

.social-img:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

footer {
  text-align: center;
  /* по центру */
  padding: 70px 20px;
  /* отступы сверху/снизу */
  color: #fff;
  /* цвет текста */
  font-size: 14px;
  margin-top: 100px;
  font-family: 'Marck Script', cursive;
  /* отступ от контента */
}